@import './base.css';

body {
    place-items: center;
}

#app {
    margin: 0 auto;
    font-weight: lighter;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
    color: var(--kelepar-font-color) !important;
    font-weight: lighter;
}

p {
    color: var(--kelepar-font-color) !important;
}

.text {
    color: var(--kelepar-font-color) !important;
}

.gradiant-text {
    background: -webkit-linear-gradient(144deg, #3c0150 0%, #AF40FF 30%, #5B42F3 70%) padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*************/
/*  BUTTONs  */
/*************/

.btn1 {
    color: var(--kelepar-color-neutral);
    padding: 10px 25px !important;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 0;
    background: var(--kelepar-color-highlight-two);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.btn1::before {
    content: "";
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 0;
    background-color: var(--kelepar-color-main);
    z-index: -1;
    transition: 200ms;
}

.btn1::after {
    content: attr(data);
    background: var(--kelepar-color-highlight-one);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
}

.btn1:hover::before {
    color: var(--kelepar-color-highlight-one);
    opacity: 1%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn2 {
    flex: 1 1 auto;
    border-radius: 0;
    padding: 10px 25px !important;
    text-align: center;
    background-size: 150% auto;
    text-transform: uppercase;
    text-decoration: none;
    transition: 500ms;
    border: 1px solid;
    color: var(--kelepar-color-highlight-one) !important;
    background-image: var(--kelepar-color-highlight-one);
}

.btn2::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
}

.btn2:hover {
    background-position: right center;
    -webkit-box-shadow: 0 0 10px 5px var(--kelepar-color-highlight-one);
    -moz-box-shadow: 0 0 10px 5px var(--kelepar-color-highlight-one);
    box-shadow: 0 0 10px 5px var(--kelepar-color-highlight-one);
}